<%- include header %>

<!-- All topics -->
<section class="wrapper style3">
    <div class="3u 12u$(small) align-center">
        <h3>All topics</h3>
    </div>
</section>


<hr>

<!-- Topics Lists -->
<section class="wrapper style1">
    <hr>
    <div class="inner">
        <% classes.forEach(function(eachClass){%>
            <% eachClass.topics.forEach(function(classTopic){%>
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="2u 12u(xsmall)">
                    <a href="/user/<%- classTopic.author%>/profile">
                    <% users.forEach(function(user){ %>
                        <% if(user.username == classTopic.author){ %>
                            <img src="../avatars/<%= user.avatar%>" width="50px" alt="user's avatar"/>
                        <% }%>
                    <%})%>
                    </a>
                </div>

                <div class="6u 12u(xsmall)">
                    <h5><a href="/topic/detail/article?topicId=<%= classTopic._id%>">
                        <% topics.forEach(function(topic){ %>
                            <% if(topic._id.toString() == classTopic._id.toString()){ %>
                                <%= topic.topicName %>
                            <% }%>
                        <%})%>
                        </a>
                    </h5>
                </div>

                <div class="2u 12u(xsmall)">
                    <h6><%= classTopic.postTime %></h6>
                </div>
                
                <div>
                        <i class="icon fa-eye"></i>
                        <% topics.forEach(function(topic){ %>
                            <% if(topic._id.toString() == classTopic._id.toString()){ %>
                                <%= topic.viewer %>
                            <% }%>
                        <%})%>
                </div>

                <div>
                    <i class="icon fa-comment"></i>
                    <% topics.forEach(function(topic){ %>
                        <% if(topic._id.toString() == classTopic._id.toString()){ %>
                            <%= topic.comments.length %>
                        <% }%>
                    <%})%>
                </div>
            </div>
        </div>
        </div>
        <hr>
        <%})%>
        <%})%>
    </div>
</section>
<section class="wrapper style2">        
    <h5 class="card-title align-center">
        Enroll the class to create your related topics !             
    </h5>
    <h5 class="align-center"><a href="/#subject-field"> See what class we have </a></h5>  
</section>

<%- include footer %>