<%- include header %>

<!-- All topics -->
<section id="discussion-title">
    <div class="3u 12u$(small) align-center">
        <h3>All topics</h3>
    </div>
</section>


<hr>

<!-- Topics Lists -->
<section class="wrapper style1">

    <hr>

    <div class="inner">
        <% classes.forEach(function(eachClass){%>

        <% eachClass.topics.forEach(function(topic){%>
        <div class="row box">
            <div class="2u 12u(medium)">
                <a href="/user?username=<%= topic.author.name%>">
                    <img src="../avatars/<%= topic.author.avatar%>" alt="user-avatar" width="100px"/>
                </a>
            </div>

            <div class="6u 12u(medium)">
                <h4><a href="/topic/detail/article?topicId=<%= topic._id%>">
                        <%= topic.topicName%>
                    </a>
                </h4>
            </div>

            <div class="2u 12u(medium)">
                <h4><%= topic.postTime %></h4>
            </div>

            <div>
                <i class="icon fa-comment"></i>
                <%= topic.viewer %>
            </div>
        </div>
        <hr>
        <%})%>
        <%})%>
    </div>

</section>

<%- include footer %>