<%- include header %>

<!-- discussion title -->
<section class="wrapper style3">
    <div class="inner">
        <div class="row">
            <div class="3u 12u$(medium)">
                <h1>Discussion</h1>
            </div>
            <div class="6u 12u$(medium)">
                <h3 class="align-center">Class: </h3>
                <h3 class="align-center"><%= theClass.className %></h3>
            </div>
        </div>
    </div>
</section>


<hr>

<!-- Topics Lists -->
<section class="wrapper style1">

    <div class="inner">
        <% theClass.topics.forEach(function(classTopic){%>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="2u 12u$(xsmall)">
                            <a href="/user/<%= classTopic.author%>/profile">
                                <% users.forEach(function(user){ %>
                                    <% if(user.username == classTopic.author){ %>
                                        <img src="../avatars/<%= user.avatar%>" width="50px" alt="user's avatar"/>
                                    <% }%>
                                <%})%>
                            </a>
                            <%= classTopic.author%>
                        </div>

                        <div class="6u 12u$(xsmall)">
                            <h5><a href="/topic/detail/article?topicId=<%= classTopic._id%>">
                                <% topics.forEach(function(topic){ %>
                                    <% if(topic._id.toString() == classTopic._id.toString()){ %>
                                        <%= topic.topicName %>
                                    <% }%>
                                <%})%>
                                </a>
                            </h5>
                        </div>

                        <div class="2u 12u$(xsmall)">
                            <h6><%= classTopic.postTime %></h6>
                        </div>

                        <div class="2u 12u$(xsmall)">
                            <i class="icon fa-comment"></i>
                            <% topics.forEach(function(topic){ %>
                                <% if(classTopic._id.toString() == topic._id.toString()){%>
                                    <%= topic.viewer %>
                                <%}%>
                            <%})%>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        <%})%>
    </div>
</section>

<!-- Create Topics -->
<section class="wrapper special">
    <div class="inner">
        <div class="row">
            <a href="/topic/create-topic?id=<%= theClass._id%>" class="button special medium">
                create your own topic</a>
        </div>
    </div>
</section>

<%- include footer %>