<%- include header %>

<!-- discussion title -->
<section class="wrapper style3">
    <div class="inner">
        <div class="row">
            <div class="3u 12u$(medium)">
                <h1>Discussion</h1>
            </div>
            <div class="6u 12u$(medium)">
                <h3 class="align-center">Class: </h3>
                <h3 class="align-center"><%= theClass.className %></h3>
            </div>
        </div>
    </div>
</section>


<hr>

<!-- Topics Lists -->
<section class="wrapper style1 classPage">

    <div class="inner">
        <% theClass.topics.forEach(function(topic){%>
        <div class="row box">
            <div class="2u 12u$(xsmall)">
                <a href="/user/<%= topic.author%>">
                    <% users.forEach(function(user){ %>
                        <% if(user.username == topic.author){ %>
                            <img src="../avatars/<%= user.avatar%>" width="50px" alt="user's avatar"/>
                        <% }%>
                    <%})%>
                </a>
                <%= topic.author%>
            </div>

            <div class="6u 12u$(xsmall)">
                <h5><a href="/topic/detail/article?topicId=<%= topic._id%>">
                        <%= topic.topicName%>
                    </a>
                </h5>
            </div>

            <div class="2u 12u$(xsmall)">
                <h6><%= topic.postTime %></h6>
            </div>

            <div class="2u 12u$(xsmall)">
                <i class="icon fa-comment"></i>
                <%= topic.viewer %>
            </div>
        </div>
        <hr>
        <%})%>
    </div>
</section>

<!-- Create Topics\ -->
<section class="wrapper">
    <div class="inner">
        <div class="row">
            <div class="6u 12u$(small)">
                <a href="/topic/create-topic?id=<%= theClass._id%>" class="button special medium fit">create your own topic</a>
            </div>
        </div>
    </div>
</section>

<%- include footer %>