<%-include header %>

<!-- Class header -->
<section class="wrapper style3">
    <div class="inner">
        <h2><%= theClass.tag %></h2>
        <p>  </p>
        <header class="align-center"><h3><%= theClass.className %></h3></header>
        <header class="align-center"><h2>----</h2></header>
        <header class="align-center"><h6>producer : <%= theClass.producer %></h6></header>
        <header class="align-center box"><p><%= theClass.description %></p></header>
    </div>
</section>

<!-- Lesson list -->
<section class="wrapper style1 special classPage">

    <div class="inner">
        <header class="align-center">
            <h2> Lesson list </h2>
        </header>
        <% if(theClass.lessons.length == 0){ %>
            <header class="align-center">
                <header class="align-center"><h2>----</h2></header>
                <h6 class="box"> No lessons uploaded yet, be patient ... </h6>
            </header>
        <% }else{ %>
            <header class="align-center"><h2>----</h2></header>
            <div class="row">
            <% theClass.lessons.forEach(function(lesson){%>
                <div class="4u 12u$(medium)">
                    <div class="card">
                        <div class="card-body">
                        <ul class="alt">
                            <li>Lesson</li>
                            <li><h4><%= lesson.lessonName%></h4></li>
                            <li><p><%= lesson.uploadTime%></p></li>
                            <li><h6><%= lesson.description %></h6></li>
                        </ul>
                        </div>
                    </div>
                </div>
            <%})%>
            </div>
        <% }%>
    </div>
</section>

<!-- Enroll the class -->
<section class="wrapper style2 special">
    <div class="inner">
            <% if(enrolled){%>
            <ul class="actions align-center">
                <li class="button disabled align-center"> Enrolled </li>
            </ul>
            <%}else{%>
                <% if(user){ %>
                    <% if(theClass.producer == user.username){ %>
                        <ul class="actions align-center">
                            <li class="button disabled align-center"> You are the producer </li>
                        </ul>
                    <% }else{ %>
                        <form method="post">
                            <p> Interested in lessons content? Enroll this class now !</p>
                            <input type="submit" value="Enroll" name="enroll"/>
                        </form>
                    <%}%>
                <% }else{ %>
                    <form method="post">
                        <p> Interested in lessons content? Enroll this class now !</p>
                        <input type="submit" value="Enroll" name="enroll"/>
                    </form>
                <%}%>
            <%}%>
        </div>
</section>

<!-- Related topics-->
<!-- header -->
<section class="wrapper style1 special">
    <div class="inner">
        <header class="align-center">
            <h2> Some popular topics under this class</h2>
        </header>
        <header class="align-center"><h2>----</h2></header>
</section>

<!-- content -->
<section class="wrapper style1 special">
    <div class="inner">
        <% if(theClass.topics.length == 0){ %>
            <header class="align-center">
                <h6 class="box"> No topics post yet </h6>
                <ul class="actions"><li><a href="/topic/create-topic?id=<%=theClass._id%>">
                    Be the first one
                </a></li></ul>
            </header>
        <% }else{ %>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th class="align-center">Author</th>
                    <th class="align-center">Topic Title</th>
                    <th class="align-center">Time</th>
                    <th class="align-center">Views</th>
                </tr>
                </thead>
    
                <tbody> 
                <% theClass.topics.forEach(function(topic){ %>
                    <tr>
                        <td>
                        <a href="/user/<%= topic.author%>/profile">
                            <% users.forEach(function(user){ %>
                                <% if(user.username == topic.author){ %>
                                    <img src="../avatars/<%= user.avatar%>" width="50px" alt="user's avatar"/>
                                <% } %>
                            <%})%>
                        </a>
                        </td>
                        <td>
                        <a href="/topic/detail/article?topicId=<%=topic._id%>">
                            <%= topic.topicName%>
                        </a>
                        </td>
                        <td><%= topic.postTime%></td>
                        <td><%= topic.viewer%></td>
                    </tr>
                <%})%>  
                </tbody>
    
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td><a href="/topic/detail?id=<%= theClass._id%>">View more content</a></td>
                </tr>
                </tfoot>
            </table>
            <a href="/topic/create-topic?id=<%= theClass._id%>" class="button small">Create your topic</a>
        </div>
        <%}%>
    </div>
</section>

<!-- Delete your class -->
<% if(user){ %>
<% if (theClass.producer == user.username){%>
    <section class="wrapper style2 special">
        <ul class="actions">
            <li class="delete button small"> <a onclick="toggle_visibility('popupBoxOnePosition');">
                Delete Your Class</a></li>
        </ul>
    </section>
<%}%>
<%}%>

<%- include('pop-block',{ id: theClass._id, word:"delete", root:"class" }) %>



<%- include footer %>