
    <% classes.forEach(function(eachClass){%>
    <div class="4u 12u$(medium) box">
        <ul class="alt">
            <li>
                <h3>Class Name: <%= eachClass.className %></h3>
            </li>


            <% eachClass.lessons.forEach(function(lesson){%>
            <li>
                <h4> <a href="/class/detail/lesson?id=<%= eachClass._id%>&lessonId=<%= lesson._id%>">
                        Lesson : <%= lesson.lessonName%></a>
                </h4>

                description: <%= lesson.description %>
            </li>
            <%})%>

            <li>
                <a href="/profile/upload-lesson?id=<%= eachClass._id%>" class="button small">+ Upload your lessons</a>
            </li>
        </ul>
    </div>
    <%})%>



