
    <% classes.forEach(function(eachClass){%>
    <div class="4u 12u$(medium) box">
        <ul class="alt">
            <li><h5>Class</h5></li>
            <li><h4><%= eachClass.className %></h4></li>

            <% eachClass.lessons.forEach(function(lesson){%>
                <li><h6 class="align-center">Lesson</h6></li>
                <li><h5> <a href="/class/detail/lesson?id=<%= eachClass._id%>&lessonId=<%= lesson._id%>">
                    <%= lesson.lessonName%></a></h5>
                </li>
                <li><p><%= lesson.description %></p></li>
            <%})%>

            <li>
                <a href="/profile/upload-lesson?id=<%= eachClass._id%>" class="button small">+ Upload your lessons</a>
            </li>
        </ul>
    </div>
    <%})%>



