<%- include header %>

<!-- discussion title -->
<section id="discussion-title">
    <div class="3u 12u$(small) align-center">
        <h3>Discussion</h3>
        <h3>Class: </h3>
        <h3><%= theClass.className %></h3>
    </div>
</section>


<hr>

<!-- Topics Lists -->
<section class="wrapper style1">

    <hr>

    <div class="inner">
        <% theClass.topics.forEach(function(topic){%>
        <div class="row box">
            <div class="2u 12u(medium)">

                <a href="/user?username=<%= topic.author%>">
                    <%= topic.author%>
                </a>
            </div>

            <div class="6u 12u(medium)">
                <h4><a href="/topic/detail?topicId=<%= topic._id%>">
                        <%= topic.topicName%>
                    </a>
                </h4>
            </div>

            <div class="2u 12u(medium)">
                <h4><%= topic.postTime %></h4>
            </div>

            <div>
                <i class="icon fa-comment"></i>
                <%= topic.viewer %>
            </div>
        </div>
        <hr>
        <%})%>
    </div>
</section>

<!-- Create Topics\ -->
<section class="wrapper">
    <div class="inner">
        <div class="row">
            <div class="6u 12u$(small)">
                <a href="/topic/create-topic?id=<%= theClass._id%>" class="button special small fit">create your own topic</a>
            </div>
        </div>
    </div>
</section>

<%- include footer %>