<%- include header %>

<!-- discussion title -->
<section id="discussion-title">
    <div class="3u 12u$(small) align-center">
        <h3>Discussion</h3>
        <h3>Class: </h3>
        <h3><%= theClass.className %></h3>
    </div>
</section>


<hr>

<!-- Topics Lists -->
<section class="wrapper style1">

    <hr>

    <div class="inner">
        <%- include('discussion-content', { topics: theClass.topics }) %>
    </div>
</section>

<!-- Create Topics -->
<section class="wrapper">
    <div class="inner">
        <div class="row">
            <div class="6u 12u$(small)">
                <a href="/topics/create-topic?id=<%= theClass._id%>" class="button special small fit">create your own topic</a>
            </div>
        </div>
    </div>
</section>

<%- include footer %>