<%- include header %>

<!-- Banner and About Us -->
<section id="banner">
    <i class="icon fa-leanpub"></i>
    <h2>Learn Anywhere</h2>
    <p>For anything, for volunteering</p>
    <ul class="actions">
        <li><a href="/about-us" class="button big special">Know about us</a></li>
    </ul>
</section>

<!-- Our subjects list -->
<section class="wrapper style1 special bigicon">
    
    <div class="inner">

        <i class="icon fa-graduation-cap"></i>
        <header class="major narrow">
            <h3>See what classes we have</h3>
        </header>

        <div id="subject-field">
            <ul class="alt">
                <%- include('index-content', 
                    { classes: classes.lifeSkill, 
                    icon:"icon fa-binoculars",
                    title: "Life Skill" }) %>
                <%- include('index-content', 
                    { classes: classes.artsMusic, 
                    icon:"icon fa-music",
                    title: "Arts & Music" }) %>
                <%- include('index-content', 
                    { classes: classes.academic, 
                    icon:"icon fa-book",
                    title: "Academic" }) %>
                <%- include('index-content', 
                    { classes: classes.handcraft, 
                    icon:"icon fa-cogs",
                    title: "Handcraft" }) %>
            </ul>
        </div>
    </div>
</section>

<!-- What we are discussing -->
<section class="wrapper style3 special bigicon">
    <div class="inner">
        <header class="major narrow	">
            <i class="icon fa-clipboard"></i>
            <h2>See what we are discussing</h2>
        </header>
        <header><h4>
            We talk about the world
        </h4></header>
        <p>  </p>
        <ul class="actions">
            <li><a href="/topic/all-topics" class="button big alt">Go to Discussion</a></li>
        </ul>
    </div>
</section>

<%- include footer %>


