<%- include header %>

<!-- Banner and About Us -->
<section id="banner">
    <i class="icon fa-leanpub"></i>
    <h2>Learn Anywhere</h2>
    <p>For anything, for volunteering</p>
    <ul class="actions">
        <li><a href="/about-us" class="button big special">Know about us</a></li>
    </ul>
</section>

<!-- Our subjects list -->
<section class="wrapper style1 special bigicon">
    
    <div class="inner">

        <i class="icon fa-graduation-cap"></i>
        <header class="major narrow">
            <h3>See what classes we have</h3>
        </header>

        <div id="subject-field">
            <ul class="alt">
                <li id="life-skill">
                    <div id="life-skill-class" class="row">
                        <div class="3u 12u$(small)">
                            <i class="icon fa-binoculars"></i>
                            <h4> Life Skills</h4>
                        </div>
                        <% classes.lifeSkill.forEach(function(eachClass){%>
                        <div class="3u 12u$(small)">
                            <ul>
                                <li><a href="/class/detail?id=<%= eachClass._id%>">
                                <%=eachClass.className %></a></li>
                            </ul>
                        </div>
                        <%})%>
                    </div>
                </li>

                <li id="arts-and-music">
                    <div id="arts-and-music-class" class="row">
                        <div class="3u 12u$(small)">
                            <i class="icon fa-music"></i>
                            <h4> Arts & Music</h4>
                        </div>
                        <% classes.artsMusic.forEach(function(eachClass){%>
                        <div class="3u 12u$(small)">
                            <ul>
                                <li><a href="/class/detail?id=<%= eachClass._id%>">
                                    <%= eachClass.className %></a>
                                </li>
                            </ul>
                        </div>
                        <%})%>
                    </div>
                </li>
                <li id="academic">
                    <div id="academic-class" class="row">
                        <div class="3u 12u$(small)">
                            <i class="icon fa-book"></i>
                            <h4> Academic </h4>
                        </div>
                        <% classes.academic.forEach(function(eachClass){%>
                        <div class="3u 12u$(small)">
                            <ul>
                                <li><a href="/class/detail?id=<%= eachClass._id%>">
                                    <%= eachClass.className %></a>
                                </li>
                            </ul>
                        </div>
                        <%})%>
                    </div>
                </li>
                <li id="handcraft">
                    <div id="handcraft-class" class="row">
                        <div class="3u 12u$(small)">
                            <i class="icon fa-cogs"></i>
                            <h4> Handcraft </h4>
                        </div>
                        <% classes.handcraft.forEach(function(eachClass){%>
                        <div class="3u 12u$(small)">
                            <ul>
                                <li><a href="/class/detail?id=<%= eachClass._id%>">
                                    <%= eachClass.className %></a>
                                </li>
                            </ul>
                        </div>
                        <%})%>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- What we are discussing -->
<section class="wrapper style3 special bigicon">
    <div class="inner">
        <header class="major narrow	">
            <i class="icon fa-clipboard"></i>
            <h2>See what we are discussing</h2>
        </header>
        <header><h4>
            We talk about the world
        </h4></header>
        <p>  </p>
        <ul class="actions">
            <li><a href="/topic/all-topics" class="button big alt">Go to Discussion</a></li>
        </ul>
    </div>
</section>

<%- include footer %>


