<%- include header %>

<!-- lesson file showing -->

<section id="video-play" class="wrapper">
    <div class="row">
        <video id="video" width="300" height="300" controls>
            <source src="/lessonfiles/<%=lesson.content%>" type="video/mp4">
        </video>
    </div>
    <div class="row">
        <img src='/lessonfiles/<%=lesson.content%>' width="500"/>   
    </div>
</section>

<!-- lesson name and description -->
<section id="video-title" class="wrapper">
    <div class="inner">
        <div class="row">
            <header class="align-center 12u 12u(large)">
                <h2> <%= lesson.lessonName%><br/></h2>
            </header>
            <div class="box">
                <p><%= lesson.description%></p>
            </div>
        </div>
    </div>
</section>

<!-- lesson hyperlink -->
<section class="wrapper">
    <div class="inner">
        <div class="row">
            <div class="6u 12u$(small)">
                <a href="/topic/detail?id=<%=classId%>" class="button special small fit">Join related discussion</a>
            </div>
            <div class="6u 12u$(small)">
                <a href="/#subject-field" class="button special small fit">View Class List</a>
            </div>
        </div>
    </div>
</section>

<%- include footer %>