<%- include header %>

<!-- lesson header -->
<section class="wrapper style3">
    <div class="inner">
        <div class="row">
            <div class="3u 12u$(medium)">
                <h1>Lesson</h1>
            </div>
            <div class="6u 12u$(medium)">
                <h4 class="align-center">Class: </h4>
                <h3 class="align-center"><%= theClass.className %></h3>
            </div>
            <div class="3u 12u$(medium)">
                <p class="align-right align-bottom">
                    <a href="/user/<%= theClass.producer%>/profile">producer: <%= theClass.producer %></p></a>
            </div>
        </div>
    </div>
</section>

<!-- lesson file showing -->
<section class="wrapper">
    <div class="row">
        <img src='/lessonfiles/<%=lesson.files%>'/>   
    </div>
</section>

<!-- lesson name and description -->
<section class="wrapper">
    <div class="inner">
        <header class="align-center 12u 12u(large)">
            <h2> <%= lesson.lessonName%><br/></h2>
        </header>
        <div class="card">
            <div class="card-body">
                <h6 class="card-title" style="color:brown">Lesson description</h6>
                <p class="align-center"><%= lesson.description%></p>
            </div>
            
        </div>
    </div>
</section>

<!-- lesson content -->
<section class="wrapper style1">
    <div class="inner">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title" style="color: brown">Lesson Content</h6>
                <%- lesson.content %>
            </div>
        </div>
    </div>
</section>

<!-- lesson hyperlink -->
<section class="wrapper">
    <div class="inner">
        <div class="row">
            <div class="6u 12u$(small)">
                <a href="/topic/detail?id=<%=classId%>" class="button special fit">Join related discussion</a>
            </div>
            <div class="6u 12u$(small)">
                <a href="/#subject-field" class="button special fit">View Class List</a>
            </div>
        </div>
    </div>
</section>

<!-- lesson edit -->
<% if (producer == user.username){%>
    <section class="wrapper style2 special">
        <div>
            <ul class="actions">
                <li class="button small"> <a href="lesson/edit?lessonId=<%= lesson._id%>">Edit Your Lesson</a></li>
                <li class="delete button small"> <a onclick="toggle_visibility('popupBoxOnePosition');">Delete Your Lesson</a></li>
            </ul>
        </div>
    </section>
<%}%>

<%- include('pop-block',{ id: lesson._id, word:"delete", root:"class/lesson" }) %>

<%- include footer %>