<div id="popupBoxOnePosition">
    <div class="popupBoxWrapper">
        <div class="popupBoxContent">
            <h4 style="color: black">You sure you want to <%= word%>? </h4><br>
            <br>
            <ul>
                <li class="button small">
                    <a onclick="toggle_visibility('popupBoxOnePosition');">
                        Cancel
                    </a>
                </li>
                <li class="button small">
                    <a href = "/<%=root%>/<%=word%>?id=<%=id%>">
                        <%= word%>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

