<%-include header %>

<!-- Profile Banner -->
<section class="wrapper style2">
    <div class="inner">
        <div class="row">
            <!-- avatar -->
            <div class="2u 12u$(xsmall)">
                <img src="../avatars/<%=user.avatar%>" width="120px" alt="user's avatar" />
            </div>
            <!-- name and bio -->
            <div class="3u 12u$(xsmall)">
                <h2><%= user.username %></h2>
                <p><%= user.bio%></p>
            </div>
            <!-- edit profile -->
            <div class="7u 12u$(xsmall)">
                <ul class="actions align-right">
                    <li>
                        <a onclick="toggle_visibility('popupBoxTwoPosition');" class="button small">
                            Edit your bio
                        </a>
                    </li>
                    <li>
                        <a onclick="toggle_visibility('popupBoxThreePosition');" class="button small">
                            Edit your avatar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<!-- Enrolled classes -->
<section class="wrapper style1 classPage">
    <div class="inner">
        <header class="align-center"><h2> Classes you Enrolled</h2></header>
        <header class="align-center"><h2>----</h2></header>
        <hr>

        <div class="row">
            <%- include('class-content', { classes: user.enrolledClass, 
                    title: "Enrolled Class", button: "- Withdraw this class", upload: false}) %>
            <div id="add-new-subject" class="3u$ 12u$(medium)">
                <p> Find more classes that you are interested </p>
                <a href="/#subject-field" class="button special small">+ Add more classes</a>
            </div>
        </div>

    </div>
</section>

<!-- Created classes -->
<section class="wrapper style2 classPageAnti">
    <div class="inner">
        <header class="align-center"><h2>Classes you Created</h2></header>
        <header class="align-center"><h2>----</h2></header>
        <hr>

        <div class="row">
            <%- include('class-content', { classes: createdClasses, 
                title: " Created Class", button: "+ Upload your lessons", upload: true}) %>
            <div class="3u$ 12u$(medium)">
                <p> Share your Knowledge and grow with people those need helps</p>
                <a href="/class/create-class" class="button special small">+ Create more classes</a>
            </div>
        </div>

    </div>
</section>


<!-- your discussion-->
<section class="wrapper style1 special">
    <div class="inner">
        <!-- header -->
        <header class="align-center"><h2>Your topics</h2></header>
        <header class="align-center"><h2>----</h2></header>

        <!-- content -->
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th class="align-center">Topic Name</th>
                    <th class="align-center">Time</th>
                    <th class="align-center"><i class="icon fa-eye"></i> Views</th>
                    <th class="align-center"><i class="icon fa-comment"></i> Comments</th>
                </tr>
                </thead>

                <tbody>
                <% topics.forEach(function(topic){%>
                <tr>
                    <td><a href="/topic/detail/article?topicId=<%= topic._id%>">
                            <%= topic.topicName%>
                        </a>
                    </td>
                    <td><%= topic.postTime%></td>
                    <td><%= topic.viewer%></td>
                    <td><%= topic.comments.length%></td>
                </tr>
                <%})%>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>No more content</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<%- include('edit-profile', { word: "edit-bio", root: "profile"}) %>
<%- include footer %>