<%-include header %>

<!-- Profile Banner -->
<section id="profile-id" class="wrapper style2">
    <div id="bio">
        <a href="#" class="image"><img src="../public/images/pic06.jpg" width="100px" alt="user-photo" /></a>
    </div>
    <div id="name">
        <h2><%= user.username %></h2>
    </div>
</section>

<!-- Enrolled classes -->
<section id="profile-enrolled-class" class="wrapper style1">
    <div class="inner">
        <header>
            <h3> The classes you created</h3>
        </header>
        <%- include('class-content', { createdClasses: createdClasses }) %>
    </div>
</section>

<!-- Created classes -->
<section id="profile-uploaded-class" class="wrapper style3">
    <div class="inner">
        <header>
            <h3> The classes you created</h3>
        </header>
        <%- include('class-content', { createdClasses: createdClasses }) %>
    </div>
</section>

<!-- your discussion-->

<section id="profile-your-discussion" class="wrapper style1">
    <div class="inner">
        <header>
            <h1> Your discussion topics</h1>
        </header>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>TopicModel Name</th>
                    <th>Description</th>
                    <th>Time</th>
                    <th>Views</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">TopicModel</a> 1</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>05-10-2018</td>
                    <td> 3 views </td>
                </tr>
                <tr>
                    <td><a href="#">TopicModel</a> 2</td>
                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    <td>06-10-2018</td>
                    <td> 5 views </td>
                </tr>
                <tr>
                    <td><a href="#">TopicModel</a> 3</td>
                    <td> Morbi faucibus arcu accumsan lorem.</td>
                    <td>05-10-2018</td>
                    <td> 10 views </td>
                </tr>
                <tr>
                    <td><a href="#">TopicModel</a> 4</td>
                    <td>Vitae integer tempus condimentum.</td>
                    <td>06-10-2018</td>
                    <td> 3 views </td>
                </tr>
                <tr>
                    <td><a href="#">TopicModel</a> 5</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>05-10-2018</td>
                    <td> 0 views </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>No more content</td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</section>

<%- include footer %>