<%-include header %>

<!-- Single Topic -->

<section class="wrapper">
    <div class="inner">
        <div class="row">
            <header class="align-center 12u 12u(large) align-center">
                <h2> class: <%= theClass.className %><br/></h2>
                <h3> topic: <%= topic.topicName %> </h3>
            </header>
        </div>

        <div class="row align-center">
            <a href="/class/detail?id=<%= theClass._id%>">
                <h2 class="align-center">Class Link</h2>
            </a>
        </div>
    </div>
</section>

<hr>

<!-- topic content -->
<section id="topic-section" class="wrapper">

    <div class="inner">
        <div class="row">
            <div id="topic-writer" class="2u$ 12u(small)">
                <a href='/user/<%= topic.author.name%>'>
                    <img src="/avatars/<%=topic.author.avatar%>" alt="user's avatar" width="100px"/>
                </a>
            </div>
            <div class="12u$ 12u$">
                <i class="icon fa-angellist"></i>
                <i class="icon fa-angellist"></i>
                <i class="icon fa-angellist"></i>
                <i class="icon fa-angellist"></i>
                <i class="icon fa-angellist"></i>
            </div>
            <div id="topic-content" class="12u$ 12u$(small)">
                <div class="row">
                    <div class="9u 12u$(medium)">
                        <h3><%= topic.topicName%></h3>
                    </div>
                    <div class="3u 12u$(small)">
                        <h4><%= topic.viewer %></h4>
                    </div>
                </div>
                <div class="row">
                    <h5> posted on </h5>
                    <h5> <%= topic.postTime%></h5>
                </div>

                <hr>

                <div>
                    <p><%= topic.article%></p>
                </div>
            </div>
        </div>
    </div>

</section>

<hr>

<!-- Comment Part -->

<section id="topic-comments" class="wrapper">
    <div class="inner">


        <div id="topic-comment-sort" class="row">
            <div class="2u$ 12u$(small)">
                <h3>Comments: </h3>
                <h4> total: <%= topic.comments.length%> </h4>
            </div>
            <div id="topic-comments-sort-by" class="select-wrapper 2u$ 12u$(small)">
                <select name="category" class="align-right">
                    <option value="">- Hotness -</option>
                    <option value="1">Newest</option>
                    <option value="1">Oldest</option>
                </select>
            </div>
        </div>


        <div class="row uniform">
            <% topic.comments.forEach(function(comment){%>
            <div class="1u 12u$(small)">

                <a href="/user/<%=comment.writer.name%>">
                    <img src="/avatars/<%=comment.writer.avatar%>" width="50px" alt="user's avatar"/>
                </a>
                    <h6> <%= comment.writeTime %></h6>
            </div>

            <div class="11u$ 12u$(small)">
                <div class="box">
                    <p><%= comment.content %></p>
                </div>
            </div>
            <%})%>
        </div>

        <hr>
        
        <form method="post">
            <header>
                <h3>Write your opinion</h3>
            </header>

            <textarea name="comment" placeholder="Write your comment here" rows="3"></textarea>
            <ul class="actions">
                <li><input type="submit" value="send comment" class="special"/></li>
            </ul>
        </form>

    </div>
</section>

<%- include footer %>