<%-include header %>

<!-- Single Topic -->

<!-- Topic banner -->
<section class="wrapper style3 special">
    <div class="inner">
        <h2 class="align-left"><%= theClass.tag %></h2>
        <header class="align-center"><h2><%= theClass.className %></h2></header>
        <header class="align-center"><h2>----</h2></header>
        <header class="align-center box"><h4><%= topic.topicName %></h4></header>

        <div class="row">
            <a href="/class/detail?id=<%= theClass._id %>" class="button small">
                Class Link
            </a>
        </div>
    </div>
</section>

<hr>

<!-- topic information -->
<section id="topic-section" class="wrapper style1">
    <div class="container">
        <div class="inner">
            <div class="row">

                <div id="topic-writer" class="3u$ 12u(small)">
                    <% if(user){ %>
                        <% if(author == user.username){ %>
                        <a href='/profile %>'>
                            <img src="/avatars/<%= user.avatar%>" alt="user's avatar" width="100px"/>
                        </a>
                        <% }else{ %>
                        <a href='/user/<%= author.username %>'>
                            <img src="/avatars/<%= author.avatar%>" alt="user's avatar" width="100px"/>
                        </a>
                        <p><%= author.username%></p>
                        <% } %>
                    <% }else{ %>
                        <a href='/user/<%= author.username %>'>
                            <img src="/avatars/<%= author.avatar%>" alt="user's avatar" width="100px"/>
                        </a>
                        <p><%= author.username%></p>
                    <%}%>  
                </div>
            
                <div class="12u$ 12u$">
                    <% for(var i = 0; i<80; i++){ %>
                        <i class="icon fa-angle-double-right"></i>
                    <%}%>
                </div>

                <hr>
            
                <div class="12u$ 12u$">
                    <h3><%= topic.topicName%></h3>
                </div>

                <div class="3u 12u$(xsmall)">
                    <h6> posted on </h6>
                    <h6> <%= topic.postTime%></h6>
                </div>

                <div class="9u 12u$(sxmall) align-right">
                    <i class="icon fa-eye"><%= topic.viewer%></i>
                </div>
            
                <hr>
            </div>
        </div>
    </div>
</section>

<!-- topic content -->
<section class="wrapper">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="box">
                <span class="image right">
                    <img src="/topicimages/<%= topic.postImg%>"/>
                </span>
                <%-topic.article%>
                </div>
            </div>
            
        </div>
    </div>
</section>

<hr>

<!-- Comment Part -->

<section id="topic-comments" class="wrapper">
    <div class="inner">

        <!-- Comment Abstraction -->
        <div id="topic-comment-sort" class="row">
            <div class="2u$ 12u$(small)">
                <h3>Comments: </h3>
                <h4> total: <%= topic.comments.length%> </h4>
            </div>
            <div id="topic-comments-sort-by" class="select-wrapper 2u$ 12u$(small)">
                <select name="category" class="align-right">
                    <option value="">- Hotness -</option>
                    <option value="1">Newest</option>
                    <option value="1">Oldest</option>
                </select>
            </div>
        </div>

        <!-- Comment Details -->
        <div class="row uniform">
            <% topic.comments.forEach(function(comment){%>
                <% if(user){ %>
                    <% if(user.username == comment.writer){ %>
                        <a href="/profile">
                            <img src="/avatars/<%=user.avatar%>" width="50px" alt="user's avatar"/>
                        </a>
                    <% }else{ %>
                        <% users.forEach(function(user){%>
                            <%if (user.username==comment.writer){%>
                                <a href="/user/<%=comment.writer%>">
                                    <img src="/avatars/<%=user.avatar%>" width="50px" alt="user's avatar"/>
                                </a>
                            <%}%>
                        <%})%>
                    <% } %>
                <% }else{ %>
                    <% users.forEach(function(user){%>
                        <%if (user.username==comment.writer){%>
                            <a href="/user/<%=comment.writer%>">
                                <img src="/avatars/<%=user.avatar%>" width="50px" alt="user's avatar"/>
                            </a>
                        <%}%>
                    <%})%>
                <% }%>
            <div class="1u 12u$(small)">                
                <h5> <%= comment.writer %></h5>
                <h6> <%= comment.writeTime %></h6>
            </div>

            <div class="11u$ 12u$(small)">
                <div class="box">
                    <p><%= comment.content %></p>
                </div>
                <% if(user){ %>
                    <% if(user.username == comment.writer){ %>
                        <a onclick="toggle_visibility('popupBoxOnePosition');"> delete </a>
                        <%- include('pop-block',{ id: comment._id, word:"delete", root:"topic/comment" }) %>
                    <%}%>
                <% } %>
            </div>
            <%})%>
        </div>

        <hr>
        
        <form method="post">
            <header>
                <h3>Write your opinion</h3>
            </header>

            <textarea name="comment" placeholder="Write your comment here" rows="3"></textarea>
            <ul class="actions">
                <li><input type="submit" value="send comment" class="special"/></li>
            </ul>
        </form>

    </div>
</section>

<hr>

<!-- Edit topic-->
<% if(user){ %>
<% if(user.username == topic.author){%>
    <section class="wrapper style 2">
        <div class="inner">
            <div class="row">
            <ul class="actions 3u 12u$(small)">
                <li class="button small"> <a href="edit?topicId=<%= topic._id%>">Edit</a></li>
                <li class="button small"> <a onclick="toggle_visibility('popupBoxOnePosition');">Delete</a></li>
            </ul>
            </div>
        </div>
    </section>
    
<%}%>
<%}%>

<%- include('pop-block',{ id: topic._id, word:"delete", root:"topic" }) %>


<%- include footer %>