<%-include header %>

<!-- Single Topic -->

<!-- Topic banner -->
<section class="wrapper style3 special">
    <div class="inner">
        <h2 class="align-left"><%= theClass.tag %></h2>
        <header class="align-center"><h2><%= theClass.className %></h2></header>

        <div class="row">
            <a href="/class?id=<%= theClass._id %>" class="button small">
                Class Link
            </a>
        </div>
    </div>
</section>

<hr>

<!-- topic information -->
<section id="topic-section" class="wrapper style1">
    <div class="container">
        <div class="inner">
            <div class="row">

                <div id="topic-writer" class="3u$ 12u(small)">
                    <% if(user){ %>
                        <% if(author == user.username){ %>
                        <a href='/profile %>'>
                            <img src="/avatars/<%= user.avatar%>" alt="user's avatar" width="100px"/>
                        </a>
                        <% }else{ %>
                        <a href='/user/<%= author.username %>/profile'>
                            <img src="/avatars/<%= author.avatar%>" alt="user's avatar" width="100px"/>
                        </a>
                        <p><%= author.username%></p>
                        <% } %>
                    <% }else{ %>
                        <a href='/user/<%= author.username %>/profile'>
                            <img src="/avatars/<%= author.avatar%>" alt="user's avatar" width="100px"/>
                        </a>
                        <p><%= author.username%></p>
                    <%}%>  
                </div>
            
                <div class="12u$ 12u$">
                    <% for(var i = 0; i<80; i++){ %>
                        <i class="icon fa-angle-double-right"></i>
                    <%}%>
                </div>
                <p>  </p>
                <div class="12u$ 12u$">
                    <h3><%= topic.topicName%></h3>
                </div>

                <div class="3u 12u$(xsmall)">
                    <h6> posted on </h6>
                    <h6> <%= topic.postTime%></h6>
                </div>

                <div class="9u 12u$(sxmall) align-right">
                    <i class="icon fa-eye"></i>
                    <%= topic.viewer%>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- topic content -->
<section class="wrapper">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="12u 12u$(medium) box">
                <span class="image right">
                    <img src="/topicimages/<%= topic.postImg%>"/>
                </span>
                <%-topic.article%>
                </div>
            </div>
            
        </div>
    </div>
</section>

<hr>

<!-- Comment Part -->

<section class="wrapper style2">
    <div class="inner">
        <!-- Comment Abstraction -->
        <div class="row uniform">
            <div class="12u$ 12u$(small)">
                <h3>Comments: </h3>
                <h5> total: <%= topic.comments.length %> </h5>
            </div>
        </div>
        <br><br>

        <!-- Comment Details -->
        <div class="row">
            <% if(topic.comments.length == 0){%>
                <h6>No comments under this topic yet, be the first one!</h6>
            <% }else{%>
                <% topic.comments.forEach(function(comment){%>
                    <div class="1u$ 12u$(xsmall)">
                    <% if(user){ %>
                        <% if(user.username == comment.writer){ %>
                            <a href="/profile">
                            <img src="/avatars/<%=user.avatar%>" width="50px" alt="user's avatar"/>
                            </a>
                        <% }else{ %>
                            <% users.forEach(function(user){%>
                                <%if (user.username==comment.writer){%>
                                    <a href="/user/<%=comment.writer%>/profile">
                                    <img src="/avatars/<%=user.avatar%>" width="50px" alt="user's avatar"/>
                                    </a>
                                <%}%>
                            <%})%>
                        <% } %>
                    <% }else{ %>
                        <% users.forEach(function(user){%>
                            <%if (user.username==comment.writer){%>
                                <a href="/user/<%=comment.writer%>/profile">
                                <img src="/avatars/<%=user.avatar%>" width="50px" alt="user's avatar"/>
                                </a>
                            <%}%>
                        <%})%>
                    <% }%>
                    <h5> <%= comment.writer %></h5>
                    </div>

                    <div class="9u$ 12u$(small)">
                        <div class="box">
                            <p><%= comment.content %></p>
                        </div>
                    </div>

                    <div class="2u$ 12u$(xsmall)">
                        <% if(user){ %>
                            <% if(user.username == comment.writer){ %>
                                <a onclick="toggle_visibility('popupBoxOnePosition');" class="button small"> delete </a>
                                <%- include('pop-block',{ id: comment._id, word:"delete", root:"topic/comment" }) %>
                            <%}%>
                        <%}%>
                        <h6> <%= comment.writeTime %></h6>
                    </div>
                <%})%>
                <%}%>
            </div>
        <hr>
    </div>
</section>

<!-- Post your comment -->
<section class="wrapper style2">
    <div class="container">
        <div class="inner">
            <form method="post">
                <header><h4>Write your opinion</h4></header>
                <hr>
                <textarea name="comment" placeholder="Write your comment here" rows="3" required></textarea>
                <hr>
                <input type="submit" value="send comment" class="special"/>   
            </form>
        </div>
    </div>
</section>



<!-- Edit topic-->
<% if(user){ %>
<% if(user.username == topic.author){%>
    <hr>
    <section class="wrapper style1 special">
        <div class="inner">
            
            <ul class="actions align-center">
                <li class="button small"> <a href="edit?topicId=<%= topic._id%>">Edit Your Topic</a></li>
                <li class="delete button small"> <a onclick="toggle_visibility('popupBoxOnePosition');">Delete Your Topic</a></li>
            </ul>
            
        </div>
    </section> 
    <hr>
<%}%>
<%}%>

<%- include('pop-block',{ id: topic._id, word:"delete", root:"topic" }) %>

<%- include footer %>