<%- include header %>

<!-- User Banner -->
<section id="profile-id" class="wrapper style2">

    <div id="photo">
        <%
        var imgsrc='../images/'+<%=user.avatar %>
        %>
        <img src=<%- imgsrc %> width="100px" alt="user's avatar" />
    </div>

    <div id="name">
        <h2><%= user.username %></h2>
    </div>

    <div id="bio">
        <p><%= user.bio %></p>
    </div>

</section>


<section id="person-info" class="wrapper style1 special">

    <div id="info-subject">
        <div class="box">
            <div class="title-bar"><h2><%= user.username%>'s Enrolled Class</h2></div>
            <div class="info-content align-left">
                <ul class="alt">
                    <% user.enrolledClass.forEach(function(eachClass){%>
                    <li><a href="/class/detail?id=<%= eachClass._id%>" class="thread"><%= eachClass.className%></a></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>

    <div id="info-videos">
        <div class="box">
            <div class="title-bar"><h2><%= user.username %>'s Created Class</h2></div>
            <div class="info-content align-left">
                <ul class="alt">
                    <% createdClasses.forEach(function(eachClass){%>
                    <li><a href="/class/detail?id=<%= eachClass._id%>" class="thread"><%= eachClass.className%></a></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
    <div id="info-discussion">
        <div class="box">
            <div class="title-bar"><h2>Discussion</h2></div>
            <div class="info-content align-left">
                <ul class="alt">
                    <% topics.forEach(function(topic){%>
                        <li><a href="/topic/detail?id=<%= topic._id%>" class="thread"><%= topic.topicName%></a></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="bio-content">
    <div class="user-box">
        <div class="bio-title">Bio</div>
        <hr>
        <div class="bio-content inner">

            <article class="feature right align-center">
                <div class="content">
                    <p><%= user.bio%>
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>

<%- include footer %>
