<%- include header %>

<!-- User Banner -->

<section class="wrapper style2">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="2u$ 12u$(medium)">
                    <img src="/avatars/<%=user.avatar%>" width="120px" alt="user's avatar" />
                </div>
                <div class="8u 12u$(medium)">
                    <h2><%= user.username %></h2>
                    <p><%= user.bio%></p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="wrapper style1 special classPage">

    <!-- User enrolled classes-->
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="4u$ 12u$(medium)">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%= user.username%>'s Enrolled Class
                            </h4>
                            <hr>
                            <ul class="alt">
                                <% user.enrolledClass.forEach(function(eachClass){%>
                                    <li><a href="/class?id=<%= eachClass._id%>" class="thread"><%= eachClass.className%></a></li>
                                <%})%>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="4u$ 12u$(medium)">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%= user.username%>'s Created Class
                            </h4>
                            <hr>
                            <ul class="alt">
                                <% createdClasses.forEach(function(eachClass){%>
                                    <li><a href="/class?id=<%= eachClass._id%>" class="thread"><%= eachClass.className%></a></li>
                                <%})%>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="4u$ 12u$(medium)">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%= user.username%>'s Posted Topics
                            </h4>
                            <hr>
                            <ul class="alt">
                                <% topics.forEach(function(topic){%>
                                    <li><a href="/topic/detail/article?topicId=<%= topic._id %>" class="thread">
                                        <%= topic.topicName%></a>
                                    </li>
                                <%})%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
</section>

<%- include footer %>
